{{ form_start(form, {'attr': {'data-swap-form': 1, 'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
