{% extends 'base.html.twig' %}

{% block title %}Edit FierceChef{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>Edit FierceChef</h1>
        {{ include('fierce_chef/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('fierce_chef_index') }}">back to list</a>
        {{ include('fierce_chef/_delete_form.html.twig') }}
    </div>
{% endblock %}
